/* ***************** 
Global CSS***********/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.container{
    width: 1140px;
    margin: auto;
}
ul{
    margin: 0;
    padding: 0;
}

/* ***************** 
Global CSS***********/

header{
    width: 100%;
    padding: 20px 0;
}
header .logo{
float: left;
width: 20%;
}
header .logo img{
width: 120px;
height: auto;
}
header .nav{
    float: left;
    width:60%; 
}
header .nav ul{
}
header .nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 18px;
    margin-top: 8px;
    text-transform: capitalize;
}
header .btn{
    float: left;
    width: 20%;
}
header .btn button{
    padding: 10px;
    background: #FF6162;
    border: 1px solid #FF6162;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}
/* header section end */

/* banner section start */
.banner{
    width: 100%;
    padding: 130px 0;
}
.banner .left, .banner .right{
float: left;
width: 50%;
}
.banner .left h1{
    font-size: 35px;
    line-height: 45px;
    text-transform: capitalize;
    margin-top: 65px;
}
.banner .left p{
margin-top: 30px;
color: rgba(0, 0, 0, 0.321);
margin-bottom: 40px;
}
.banner .left li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    background: #FF6162;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid red;
    transition: 0.5s;
}
.banner .left li:hover{
    background: transparent;
    transform: scale(1.5);
    transition: 0.5s;
    }
.banner .left li i{
    color: white;
    font-size: 25px;
    margin-top: 12px;
}
.banner .left li:hover i{
  color: blue;
  transform: rotate(360deg);
  transform: scale(1.5);
  transition: 0.5s;
    }
.banner .right img{
    width: 100%;
    height: auto;
}
/* banner section end */

/* project section start */
.project{
    width: 100%;
    padding: 100px 0;
    clear: both;
}
.project .title{
    text-align: center;
    margin-bottom: 40px;
}
.project .title p{
    font-size: 14px;
    font-style: italic;
    color: #ada0a0;
    margin-bottom: 20px;
}
.projects{
    display: flex;
justify-content: center;
}
.projects .category{
    margin:  0px 15px;
    text-align: center;
    box-shadow: 17px 15px 145px 20px rgba(0,0,0,0.25);
}
.projects .category img{
width: 100%;
height: auto;
margin-bottom: 15px;
}
.projects .category h6{
    margin: top 10px;
}
/* project section end */

/* feature start */
.feature .title{
    text-align: center;
    margin-bottom: 40px;
}
.feature .title p{
    font-size: 14px;
    font-style: italic;
    color: #ada0a0;
    margin-bottom: 20px;
}
.feature .features{
display: flex;
}
.feature .features .f_card{
background: #f5f5f5;
text-align: center;
padding: 30px 20px;
margin: 15px;
border-radius: 5px;
}
.feature .features .f_card i{
    background: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: red;
    border-radius: 50%;
    margin-bottom: 15px;

}
.feature .features .f_card h4{
    font-size: 20px;
}
.feature .features .f_card p{
    
}
/* feature end */

/* footer start */
.footer{
    width: 100%;
    background: indigo;
}
.footer .title{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 80px;
}
.footer .title h1{
    text-transform: capitalize;
    color: white;
}
.footer .btn{
   text-align: center;
   padding-bottom: 35px;
}
.footer .btn button{
    padding: 10px;
    background: #FF6162;
    border: 1px solid #FF6162;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}
.footer .logo{
  text-align: center;
  margin: auto;
    }
.footer .logo img{
        width: 120px;
        height: auto;
        }
/* footer end */